html{
    background-color: #2D3344;
    color: white;
   
    font-family: "Oxygen";
}

body{
    width: 75%;
    margin: auto;
}

.header{
    display:flex;
    font-size: 4em;
    justify-content: left;
    width: 90%;
}
.countdown-container{
    display:flex;
    justify-content:space-between;
    margin: auto;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.timer-content-container{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    justify-content: center;
}
.alarm-container{
    display:flex;
    justify-content:center;
    margin: auto;
}
.clock-space{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.number-container{
    padding: 15%;
    text-align: center;
    margin-bottom: 2%;
    font-size: 4rem;
    border-radius: 20%;
    display: flex;
}
#hours-container{
    background-color:#FF6451;
}

#minutes-container{
    background-color:#00BFC6;

}
#seconds-container{
    background-color:#c32182;

}
.number{
    margin: 0% auto;
}

.control-container{
    width: 85%;
    margin: 0% auto;
    padding: 5%;
    display: flex;
    
}
.timer-control-container{
    width: 85%;
    margin: 4rem auto;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}
.control-buttons{
    color: white;
    border: none;
    padding: 2% 5%;
    border-radius: 10px;
}
.delete-button{
    color: white;
    border: none;
    padding: 2% 5%;
    border-radius: 10px;
}
#deletes-button{
    background-color:#951616;
}
.start-button{
    background-color:#00C67B ;
}
#stop-button{
    background-color:#951616;
}

.bottom-navigation{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #2D3344;
}


.nav-item{
    margin: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.content-container{
    display:flex;
    justify-content: space-between;
    /* margin: auto; */ 
}
.topl-and-bottoml{
    display: flex;
    flex-direction: column;
    font-size: 2em;
}
a, a:visited{
    color: white;
    text-decoration: none;
}
hr{
    margin-bottom: 10%;
}
.top-and-bottom{
    display: flex;
    flex-direction: column;
}
.bottom-label {
    text-align: left;
    font-size: 1.5rem;
}
.top-label{
    font-size: 2rem;
}
.left-and-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.settings-space{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: auto;
}
.back-button{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: transparent;
    border: none;
}
.action-button{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;
    border: none;
}
.header-items {
    display: flex;
    align-items: center;
}
.world-header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90%;
}
.overlay{
    width: 90%;
    margin: auto;
}
.header2, .header {
    display:flex;
    font-size: 4em;
    justify-content: left;
    min-width: 90%;
}
.main-content, .main-display{
    width: 90%;
    margin: auto;
}
.main-content{
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 90%;
}

.left-and-right{
    display: flex;
    
}
.list-space{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: auto;
}
.labels{
    display: flex;
    justify-content: left;
}
.aside{
    display: block;
}

.pause{
    color: black;
    background-color: #FFC540;
}
hr{
    width: 100%;
}
/* colors we'll need
    pink: #FF6451
    blue: #00BFC6
    yellow: #FFC540
    red: #951616
    green: #00C67B

fonts:
    Oxygen:
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">

    font-family: 'Oxygen', sans-serif;
 */
